#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use network installation
url --url="http://192.168.105.4/rhel6u4"
# Root password
rootpw --iscrypted $1$c8rhyil5$eF811CaffYAOdhdB2HljF1
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Installation logging level
logging --level=info

# Reboot after installation
reboot
# System timezone
timezone  Africa/Abidjan
# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.105.1 --ip=NEWIP --nameserver=192.168.105.1 --netmask=255.255.255.0 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part /boot --fstype="ext4" --size=200
part swap --fstype="swap" --size=2048
part pv.01 --size=17000 --grow
volgroup vg_root pv.01
logvol / --vgname=vg_root --size=16000 --name=lv_root
%post
cat >/etc/yum.repos.d/http.repo<<eof
[base]
name=rhel6u4
baseurl=http://192.168.105.4/rhel6u4
gpgcheck=0
enabled=1
eof
mkdir /fileshare -p
echo "192.168.105.4:/fileshare /fileshare nfs defaults 0 0" >> /etc/fstab
mount /fileshare
sed -i 's/HOSTNAME.*/HOSTNAME=NNAME/' /etc/sysconfig/network
hostname NNAME
NAGIOS_INSTALLATION

NIS_INSTALLATION
exit
%end

%packages
@nfs-file-server

%end
