#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$jRGVLr3j$nmMBsbFlqUYJZqGPKGFH21
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=ens32 --activate
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr

# Partition clearing information
#clearpart --all --initlabel
# Disk partitioning information

%include /tmp/part-include


%packages --nobase --excludedocs
@core --nodefaults
@^minimal
expect
%end


%pre
disk=`cat /proc/mdstat | grep 'active raid' | awk '{print $1}' | head -n 1`
if [ -z "$disk" ] ; then
	disk=`lsblk  | grep disk | grep -v 'fd' | awk '{print $1}'  | head -n 1`
fi

vg_uuid=`cat /proc/sys/kernel/random/uuid  | awk -F '-' '{print $1}'`

vg_before=`vgdisplay | grep 'Name'| awk '{print $3}'`
for i in ${vg_before}
do
	echo -e "y\ny\n" | vgremove $i
done

/usr/sbin/parted -s /dev/${disk} mklabel gpt
cat > /tmp/part-include << EOF
part biosboot --fstype=biosboot --size=1 --ondisk=${disk}
part /boot --fstype="ext4" --size=512 --ondisk=${disk}
part / --fstype="ext4" --size=25600 --ondisk=${disk} --encrypted --passphrase=wankaihao
part /usr/local/yunanbao --fstype="ext4" --size=4096 --ondisk=${disk}
part pv.01 --size=1 --grow --ondisk=${disk}
volgroup ${vg_uuid}_vg_root pv.01
logvol  /opt  --vgname=${vg_uuid}_vg_root  --size=1  --grow  --name=lv_opt
EOF
%end

%post


ROOT_DEVICE=/dev/sda3
dd if=/dev/urandom of=/tmp/keyfile bs=4096 count=1
chmod 600 /tmp/keyfile

echo 'wankaihao' | cryptsetup luksAddKey $ROOT_DEVICE /tmp/keyfile

mkdir -p initramfs
cd initramfs
dracut -o "systemd" no-systemd-initramfs.img
/usr/lib/dracut/skipcpio no-systemd-initramfs.img  | zcat | cpio -id --no-absolute-filenames
mv no-systemd-initramfs.img ..
cp /tmp/keyfile .
sed -i 's/.*unicode.*/#&/' usr/lib/dracut/hooks/cmdline/20-parse-i18n.sh
uuid=`blkid $ROOT_DEVICE|awk -F 'UUID="' '{print $2}' |awk -F '"' '{print $1}'`
echo "luks-$uuid /dev/disk/by-uuid/$uuid /keyfile" > etc/crypttab
find . | cpio -c -o > ../initrd.img
\cp /boot/initramfs-3.10.0-957.el7.x86_64.img /boot/initramfs-3.10.0-957.el7.x86_64.img.bak
\cp ../initrd.img /boot/initramfs-3.10.0-957.el7.x86_64.img


%end