#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$jRGVLr3j$nmMBsbFlqUYJZqGPKGFH21
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=ens32 --activate
# Reboot after installation
reboot
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information

part /boot --fstype="xfs" --size=1024
part pv.01 --size=1 --grow --encrypted --passphrase=wankaihao
volgroup vg_data pv.01
logvol /opt --vgname=vg_data --size=5000 --name=lv_opt
logvol /usr/local/yunanbao --vgname=vg_data --size=5000 --name=lv_yunanbao
logvol / --vgname=vg_data --size=1 --grow --name=lv_root



%packages --nobase --excludedocs
@core --nodefaults
@^minimal
expect
%end




%post


ROOT_DEVICE=/dev/sda2
dd if=/dev/urandom of=/tmp/keyfile bs=4096 count=1
chmod 600 /tmp/keyfile
expect <<eof
spawn cryptsetup luksAddKey $ROOT_DEVICE /tmp/keyfile
expect "passphrase:"
send "wankaihao\n"
expect eof
eof
mkdir -p initramfs
cd initramfs
dracut -o "systemd" no-systemd-initramfs.img
/usr/lib/dracut/skipcpio no-systemd-initramfs.img  | zcat | cpio -id --no-absolute-filenames
mv no-systemd-initramfs.img ..
cp /tmp/keyfile .
sed -i 's/.*unicode.*/#&/' usr/lib/dracut/hooks/cmdline/20-parse-i18n.sh
uuid=`blkid $ROOT_DEVICE|awk -F 'UUID="' '{print $2}' |awk -F '"' '{print $1}'`
echo "luks-$uuid /dev/disk/by-uuid/$uuid /keyfile" > etc/crypttab
find . | cpio -c -o > ../initrd.img
\cp /boot/initramfs-3.10.0-957.el7.x86_64.img /boot/initramfs-3.10.0-957.el7.x86_64.img.bak
\cp ../initrd.img /boot/initramfs-3.10.0-957.el7.x86_64.img


%end